{% extends 'base.html.twig' %}

{% block title %}Nouveau User{% endblock %}

{% block body %}
    <h1>Nouveau User</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.telephone) }}

        <button type="submit" class="btn btn-primary">Ajouter le User</button>
    {{ form_end(form) }}
{% endblock %}
